<p id="notice"><%= notice %></p>

<p>
  <strong>Evening:</strong>
  <%= @guest.evening %>
</p>

<p>
  <strong>Character:</strong>
  <%= @guest.character %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @guest.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
