<p id="notice"><%= notice %></p>

<h1>Guest Characters</h1>

<table>
  <thead>
    <tr>
      <th>Guest</th>
      <th>Character</th>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guest_characters.each do |guest_character| %>
      <tr>
        <td><%= guest_character.guest %></td>
        <td><%= guest_character.character %></td>
        <td><%= guest_character.index %></td>
        <td><%= link_to 'Show', guest_character %></td>
        <td><%= link_to 'Edit', edit_guest_character_path(guest_character) %></td>
        <td><%= link_to 'Destroy', guest_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest Character', new_guest_character_path %>
