<div class="row m-t-3">
	<div class="col-md-4">
		<h4>Hosts registered</h4>
		<% @hosts.each do |host| %>

			<!-- TODO: move to _host partial, like _game -->

			<div class="card">
				<div class="card-block">
					<p><%= host.name %> <span class="text-muted"><%= host.email %></span><br>
					<span class="text-muted">hosted <%= pluralize host.evenings.count, 'evening' %></span>
					</p>
				</div>
			</div>


		<% end %>		
	</div>

	<div class="col-md-4">
		<h4>Games</h4>
		<!-- 
		rails shorthand for
		<%# render partial: 'games/game', collection: @games %>
		which is by convention in views/games/_game.html.erb
		-->
		<%= render @games %>	
	</div>

	<div class="col-md-4">
		<h4>Evenings</h4>
		<%= render @evenings %>
	</div>


	
</div>


