<h1 class='text-danger'>Murder Mystery Kitty</h1>


<div class="row">
	<div class="col-sm-4">
		<h4>Hosts</h4>
		<% @hosts.each do |host| %>
			<p><%= host.name %> <span class="text-muted"><%= host.email %></span></p>
			
			<ul class="text-primary">
				<% host.evenings.each do |evening| %>
					<li><%= link_to evening.game.name, evening.game %> - <span class="text-warning"><%= evening.location %></span> <br>
						<span class="text-muted"><%= evening.caveat %></span>
					</li>
				<% end %>
			</ul>

		<% end %>		
	</div>

	<div class="col-sm-6">
		<h4>Games</h4>
		<!-- 
		rails shorthand for
		<%# render partial: 'games/game', collection: @games %>
		which is by convention in views/games/_game.html.erb
		-->
		<%= render @games %>	
	</div>
</div>


