<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :backstory %>
    <%= f.text_field :backstory %>
  </div>

  <div class="field p-l-3">
    <%= f.label :characters %>
    <%= f.fields_for :characters do |ff| %>
      <div class="card">
         <div> <%= ff.label :name %>
           <%= ff.text_field :name %>
           
           <%= ff.label :backstory %>
           <%= ff.text_field :backstory %>
           
           <%= ff.label :attire %>
           <%= ff.text_field :attire %>
           
           <% if ff.object.persisted? %>
             <%= ff.check_box :_destroy %>
             <%= ff.label :_destroy, "Destroy" %>
           <% end %></div>
        </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
